body{
  background-color: #9BFA98;
}
.coolio{
  width: 320px;
    padding: 10px;
    border: 5px solid blue;
    margin: 0; 
  background-image:url("https://media.giphy.com/media/v9S05lxPuugPm/giphy.gif");
